* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fbf9f8;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  color:#4c4c4c;
 
}
.navbar-menu-container {
  display: none;
}
.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color:#4c4c4c;
  font-size: 1.3rem;
  font-weight: 600;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: #6b8fdf;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  margin-right:30px;
  color:#4c4c4c;
}

.primary-button:hover {
  background:#85a6ee;
  transition: 0.2s;
  transform: scale(1.05);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}
.home-bannerImage-container {
  position: absolute;
  margin-top:-150px;
  z-index: -1;
  left: -100px;
 
}
.home-full-txt{
  margin-left:230px;
  margin-top:40px;
  
}
.home-title{
  font-size: 4rem;
}
.home-image-section {
  position: fixed;
  right: 4%; /* Adjust as needed */
  width: 10vw; /* Adjust size as needed */
  width:60%; /* Ensure it doesn’t get too large */
  height: auto;
  z-index: -1; /* Ensure it stays behind the login form */
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 90px;

}
.primary-heading {
  font-size: clamp(1rem, 5vw, 2rem);
  color: #4c4c4c;
  line-height: 5rem; 
  max-width: 900px;
  padding-top:130px;
  margin-right:15px;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.7rem);
  max-width: 730px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #6b8fdf;
  outline: none;
  border: none;
  border-radius: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:190px;
 
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #87aaf4;
  transform: scale(1.05);
}



.nav-logo-container{
  padding-left:30px;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
  .home-image-section{
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-image-section{
    max-width: 450px;
  }
 
  .home-image-sectionr {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }

  .primary-subheading {
    text-align: center;
  }
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .home-image-section {
    display: none;
  }
}

.nav-link:hover {
  color: #6b8fdf; /* Change to your desired hover color */
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #6b8fdf; /* Change to your desired mini bar color */
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
.nav-link {
  text-decoration: none;
  color: #6b8fdf;
  padding: 10px 15px;
  position: relative;
}