.loginform {
  background-color: white;
  width: 50%;
  margin: 100px auto;
  /* margin in top and bottom will be 50px  */
  /* left and right auto  */

  padding-bottom: 280px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 15px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);

  /* horizon offset vertical offset blur offset  */
  /* opacity of shadow */
  /* red, green, blue, and (opacity ). */
}
.no-account{
  padding-top:15px;
  margin-right: 250px;
}

.login-title{
  padding-left:200px;
  margin-left:45px;
  padding-top:100px;
  font-size: 50px;
}
.form-group-login{
  margin-top:90px;
  padding-left:55px;
}
.login-btn{
  border-radius: 10px;
  width:45%;
  font-size:18px;
  padding: 10px 24px;
  margin-left: 100px;
}
.login-btn:hover{
  background:rgb(184, 184, 203);
  color:rgb(0, 0, 0);
}
.welcome-login{
  padding-top:35px;
  margin-left:180px;
  font-size:2.5rem;
}
.btn-location{
  margin-top: 78px;
  margin-left:40px;
}
.email-login-form{
  border-radius: 10px;
  width:90%;
  margin: 8px 0;
  font-size:19px;
}

.password-login-form{
  border-radius: 10px;
  font-size:19px;
  width:90%;
}

.addUserForm .inputGrouplogin {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addUserForm .inputGrouplogin label {
  margin-top: 10px;
}

.addUserForm .inputGrouplogin input {
  margin-top: 5px;
  padding: 10px;
}

.inputGrouplogin button {
  margin-top: 10px;
}

.addUser h3 {
  text-align: center;
  font-weight: bold;
  color: darkcyan;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}