.log-ingredients-container {
    display: flex;
    height: 100vh;
}

/* Side Area Styles */
.side-area {
    width: 30%;
    padding: 20px;
    background-color: #f0f0f0; /* Change this color to your preference */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

/* Main Area Styles */
.main-area {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff; /* Change this color to your preference */
    overflow-y: auto;
}

.ingredients-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ingredient-note {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.ingredient-note:hover {
    background-color: #f1f1f1;
}

.ingredient-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expandable-content {
    margin-top: 10px;
}


.edit-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 170px;
    border-radius: 8px;
   
    width: 300px;
    text-align: center;

}


.delete-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8px;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #323232;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.toast-msg {
    margin: 0;
}
.log_ingre_title{
 margin-left:80px;
 padding-bottom:30px;

}
.ingredient_form_input{
 border-radius: 10px;
  width:90%;
  margin: 8px 0;
  font-size:19px;
}
.ingredient_date_input{
  border-radius: 10px;
  width:90%;
  margin: 8px 0;
  font-size:19px;
}
.ingre_search{
    border-radius: 10px;
    width:90%;
    margin: 8px 0;
    font-size:19px;
}

.log_submit_btn{
    border-radius: 10px;
    width:45%;
    font-size:18px;
    margin-top:30px;
    padding:10px;
    margin-left: 100px;
    
  }
  .log_submit_btn:hover{
    background:rgb(184, 184, 203);
    color:rgb(0, 0, 0);
  }
.edit-log{
     background-color: transparent; 
     border: none
}
.edit-log:hover{
    color:#808080;
}
.delete-log{
    background-color: transparent; 
     border: none
}
.delete-log:hover{
    color:#808080;
}
.edit-ingre-input{
  border-radius: 10px;
  width:90%;
  margin: 8px 0;
  font-size:19px; 
}
.del-ingre-input{
    border-radius: 10px;
    width:90%;
    margin: 8px 0;
    font-size:19px; 
}
.save-changees-btn{
    margin-top:30px;
    padding:5px;
    margin-right:7px;

}
.cancel-btn{
    margin-top:30px;
    padding:5px;
 
}
.yes-btn{
    margin-top:30px;
    padding:10px;
    margin-right:7px;
    margin-left:110px;
}
.yes-btn:hover{
    color:#808080;
}
.no-btn{
    margin-top:30px;
    padding:10px;
   
}
.no-btn:hover{
    color:#808080;
}
