.signupform {
  background-color: white;
  width: 700px;
  margin: 100px auto;
  /* margin in top and bottom will be 50px  */
  /* left and right auto  */

  padding-bottom: 280px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 15px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.have-account{
  margin-right: 180px;
  padding-top:15px;
}
.welcome_safepaws{
  padding-top:25px;
  margin-left:60px;
  font-size:2.5rem;
}
.signup-title{
  padding-left:150px;
  margin-left:15px;
  padding-top:100px;
  font-size: 50px;
}
.signup-line{
margin-left: 120px;
font-size:20px;

}
.form-group{
  margin-top:90px;
  padding-left:55px;
}

.btn-location{
  margin-top: 78px;
}
.email-signup-form{
  border-radius: 10px;
  width:300px;
  font-size:19px;
}

.password-signup-form{
  border-radius: 10px;
  font-size:19px;
  width:400px;
}

.addUserForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addUserForm .inputGroup label {
  margin-top: 10px;
}

.addUserForm .inputGroup input {
  margin-top: 5px;
  padding: 10px;
}

.inputGroup button {
  margin-top: 10px;
}

.addUser h3 {
  text-align: center;
  font-weight: bold;
  color: darkcyan;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.inputGroup{
  margin-left:60px;
  padding-top:-80px;
  
}